*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo-box{
    display: flex;
    align-items: center;
    gap: 20px; 
}

#logo{
    width: 35px;
    height: auto;
}

.logo-box p{
    color: rgb(109, 2, 2);
    font-weight: 800;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    gap: 25px;
}

.nav-bar a{
    text-decoration: none;
    color: rgb(105, 99, 99);
    font-weight: 600;
}

.nav-bar a:hover{
    color: rgb(109, 2, 2);
    background-color: #fef9ed;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
.container{
    background-color: #fef9ed;
    height: 580px;
}
.mid-div{
    text-align: center;
    justify-content: center;
}
.mid-div h1{
    color: rgb(109, 2, 2);
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-bottom: 25px;
}
.para{
    color: rgb(89, 85, 85);
    margin-bottom: 25px;
    font-size: 20px;
}
.bg-logo{
    height: 200px;
    width: 110px;
    margin-top: 50px;
}
.mid-div button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(109, 2, 2);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.urdu-txt{
    color: rgb(109, 2, 2);
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 600;
}
.third-div{
    background-color: white;
    height: 1350px;
}
.collection-div{
    text-align: center;
    justify-content: center;
    margin-top: 120px;
}
.collection-div h1{
    color: rgb(109, 2, 2);
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
.collection-div p{
    color: rgb(81, 76, 76);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: none;
    border-radius:10px ;
    border-radius:10px ;
    width: 350px;
    height: 530px;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow:
        0 0 0 1px rgba(0,0,0,0.05),
        0 8px 25px rgba(0,0,0,0.08);
}
.card-top{
    background-color: #fef9ed;
    min-height: 250px;
    border: none;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.card-top h2{
    color: rgb(109, 2, 2);
    font-family: 'Playfair Display', serif;
}
.card-bottom{
    margin-top: 50px;
    padding: 20px;
}
.card-bottom h4{
    color: rgb(109, 2, 2);
    font-family: 'Playfair Display', serif;
    padding-bottom: 40px;
    font-size: 18px;
}
.card-bottom p{
    padding-bottom: 25px;
    color: rgb(81, 76, 76);
    font-size: 20px;
}
.links a{
    border: none;
    text-decoration: none;
    color: rgb(109, 2, 2);
    font-weight: bold;
    font-size: 20px;
}
footer{
    background-color: rgb(109, 2, 2);
    height:500px;
    display: flex;
    color: white;
    padding-left: 20px;
    padding-top: 80px;
}
.section1{
    width: 380px;
    height: 400px;
}
.section1 p{
    margin-bottom: 30px;
    color: rgb(211, 199, 199);
}
.section1 h3{
    margin-bottom: 30px;
}
.section1 h4{
    margin-bottom: 20px;
}
.section1 a{
    text-decoration: none;
    color: rgb(211, 199, 199);
}
.section1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.img-head{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.img-head h2{
    margin-left: 15px;
}
.section2,
.section3 {
    margin-left: 190px;
}

.section2 h3,
.section3 h3 {
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.section2 nav,
.section3 nav {
    display: flex;
    flex-direction: column;
}

.section2 nav a,
.section3 nav a {
    text-decoration: none;
    color: rgb(211, 199, 199);
    margin-bottom: 18px;
    transition: 0.3s;
}

.section2 nav a:hover,
.section3 nav a:hover {
    color: white;
}
.social-tags{
    display: flex;
    gap: 15px;
    margin-top: 20px;    
}
.social-tags a{
    background-color: rgb(139, 20, 20);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}
.social-tags :hover{
    background-color: white;
}
.footer-bottom{
    width: 100%;
    background-color: rgb(109, 2, 2);
    color: rgb(211, 199, 199);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255,255,255,0.2);
}




