#heading{
    color: rgb(109, 2, 2);
    text-align: center;
    font-size: 45px;
}
.content h3{
    color: rgb(109, 2, 2);
    font-size: 20px;
}
.content{
    margin-left: 40px;
    margin-right: 80px;
}
.content p{
    margin-bottom: 100px;
    font-size: 20px;
}