*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo-box{
    display: flex;
    align-items: center;
    gap: 20px; 
}

#logo{
    width: 35px;
    height: auto;
}

.logo-box p{
    color: rgb(109, 2, 2);
    font-weight: 800;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    gap: 25px;
}

.nav-bar a{
    text-decoration: none;
    color: rgb(105, 99, 99);
    font-weight: 600;
}

.nav-bar a:hover{
    color: rgb(109, 2, 2);
    background-color: #fef9ed;
    border: none;
    border-radius: 2px;
    padding: 5px;
}
#heading{
    color: rgb(109, 2, 2);
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.content h3{
    color: rgb(109, 2, 2);
    font-size: 20px;
}
.content{
    margin-left: 40px;
    margin-right: 80px;
}
.content p{
    margin-bottom: 100px;
    font-size: 20px;
    margin-top: 30px;
}
.pagination{
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
    margin-right: 20px;
}
.pagination a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
footer{
    background-color: rgb(109, 2, 2);
    height:500px;
    display: flex;
    color: white;
    padding-left: 20px;
    padding-top: 80px;
}
.section1{
    width: 380px;
    height: 400px;
}
.section1 p{
    margin-bottom: 30px;
    color: rgb(211, 199, 199);
}
.section1 h3{
    margin-bottom: 30px;
}
.section1 h4{
    margin-bottom: 20px;
}
.section1 a{
    text-decoration: none;
    color: rgb(211, 199, 199);
}
.section1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.img-head{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.img-head h2{
    margin-left: 15px;
}
.section2,
.section3 {
    margin-left: 190px;
}

.section2 h3,
.section3 h3 {
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.section2 nav,
.section3 nav {
    display: flex;
    flex-direction: column;
}

.section2 nav a,
.section3 nav a {
    text-decoration: none;
    color: rgb(211, 199, 199);
    margin-bottom: 18px;
    transition: 0.3s;
}

.section2 nav a:hover,
.section3 nav a:hover {
    color: white;
}
.social-tags{
    display: flex;
    gap: 15px;
    margin-top: 20px;    
}
.social-tags a{
    background-color: rgb(139, 20, 20);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}
.social-tags :hover{
    background-color: white;
}
.footer-bottom{
    width: 100%;
    background-color: rgb(109, 2, 2);
    color: rgb(211, 199, 199);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid rgba(255,255,255,0.2);
}
